.descriptionbox{
    margin: 120px 170px;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 170px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color: #818181;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 50px;
    
}